/* app css stylesheet */
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.center-form{
  margin: auto;
  width: 60%;
  margin-top: 60px;
  border: solid grey 1px;
  padding: 10px;
  border-radius: 5px;
}
.css-form input.ng-invalid.ng-touched {
  background-color: #FA787E;
}

.css-form input.ng-valid.ng-touched {
  background-color: #78FA89;
}

.about_value:hover .about_value_icon{
  display: inline;
}
.about_value_icon {
  display: none;
  float: right;
}
.about_value_icon a {
  color: blue;
  text-decoration: underline;
}
