<div class="container Profile mainContent">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Profile</h3>
    </div>
    <div class="panel-body" ng-init="tab = 1">
      <div class="row tabbable">
        <ul class="nav nav-pills nav-stacked col-md-2 col-sm-2">
          <li ng-class="{active: tab === 1}">
            <a href ng-click="tab=1" data-toggle="pill">Basic Information</a>
          </li>
          <li ng-class="{active: tab === 2}">
            <a href ng-click="tab=2" data-toggle="pill">Contact</a>
          </li>
          <li ng-class="{active: tab === 3}">
            <a href ng-click="tab=3" data-toggle="pill">Payment</a>
          </li>
        </ul>
        <div class="tab-content col-md-10 col-sm-14">
          <div class="tab-pane fade in" ng-class="{active: tab === 1}">
            <h4>Basic Information</h4>
            <div class="list-group">
              <div class="list-group-item">
                    <label>Prefix: </label>
                    <a href="#" editable-select="profile.user.prefix" e-ng-options="s as s for s  in ['Mr','Mrs','Miss','Unknown']" onaftersave="updateUser()">{{profile.user.prefix||"input your prefix"}}</a>
              </div>
              <div class="list-group-item">
                    <label>Name: </label>
                    <a href="#" editable-text="profile.user.firstname"   style="display: inline;" e-required onaftersave="updateUser()">{{profile.user.firstname||"input your firstname"}}</a>
                    <a href="#" editable-text="profile.user.lastname"  style="display: inline;" e-required onaftersave="updateUser()">{{profile.user.lastname||"input your lastname"}}</a>
              </div>
              <div class="list-group-item">
                    <label>Birthday: </label>
                    <a href="#" editable-bsdate ="profile.user.birthday"  style="display: inline;" onaftersave="updateUser()" e-datepicker-popup="yyyy-MMMM-dd">{{profile.user.birthday||"unknown"}}</a>
              </div>
            </div>
          </div>
          <div class="tab-pane fade in" ng-class="{active: tab === 2}">
            <h4>Contact</h4>
            <div class="list-group">
              <div class="list-group-item">
                    <label>Street Number: </label>
                    <a href="#" editable-number="profile.contact.streetnumber"  e-required onaftersave="updateUser()">{{profile.contact.streetnumber||"empty"}}</a>
              </div>
              <div class="list-group-item">
                    <label>Street Name: </label>
                    <a href="#" editable-text="profile.contact.streetname"  e-required onaftersave="updateUser()">{{profile.contact.streetname||"empty"}}</a>
              </div>
              <div class="list-group-item">
                    <label>Apartment No.: </label>
                    <a href="#" editable-text="profile.contact.apt" onaftersave="updateUser()">{{profile.contact.apt||"empty"}}</a>
              </div>
              <div class="list-group-item">
                    <label>City: </label>
                    <a href="#" editable-text="profile.contact.city" onaftersave="updateUser()">{{profile.contact.city||"empty"}}</a>
              </div>
              <div class="list-group-item">
                    <label>Province: </label>
                    <a href="#" editable-text="profile.contact.province" onaftersave="updateUser()">{{profile.contact.province||"empty"}}</a>
              </div>
              <div class="list-group-item">
                    <label>Country: </label>
                    <a href="#" editable-text="profile.contact.country" onaftersave="updateUser()">{{profile.contact.country||"Canada"}}</a>
              </div>
              <div class="list-group-item">
                    <label>Postcode: </label>
                    <a href="#" editable-text="profile.contact.postcode" onaftersave="updateUser()">{{profile.contact.postcode||"empty"}}</a>
              </div>
              <div class="list-group-item">
                    <label>Phonenumber(Primary): </label>
                    <a href="#" editable-tel="profile.contact.phone1" onaftersave="updateUser()">{{profile.contact.phone1||"empty"}}</a>
              </div>
              <div class="list-group-item">
                    <label>Phonenumber(Secondary): </label>
                    <a href="#" editable-tel="profile.contact.phone2" onaftersave="updateUser()">{{profile.contact.phone2||"empty"}}</a>
              </div>
              <div class="list-group-item">
                    <label>email: </label>
                    <a href="#" editable-email="profile.contact.email" onaftersave="updateUser()">{{profile.contact.email||user.email || "empty"}}</a>
              </div>
            </div>
          </div>
          <div class="tab-pane fade in" ng-class="{active: tab === 3}">
            <h4>Payment</h4>
            <div class="list-group">
              <div class="list-group-item">
                    <label>Holder's Name: </label>
                    <a href="#" editable-text="profile.payment.holder"  e-required onaftersave="updateUser()">{{profile.payment.holder||"empty"}}</a>
              </div>
              <div class="list-group-item">
                    <label>Card Number: </label>
                    <a href="#" editable-text="profile.payment.cardNumber"  e-required onaftersave="updateUser()">{{profile.payment.cardNumber||"empty"}}</a>
              </div>
              <div class="list-group-item">
                    <label>Expire Date: </label>
                    <a href="#" editable-text="profile.payment.exp"  e-required e-placeholder="MMYYYY" onaftersave="updateUser()">{{profile.payment.exp||"MMYYYY"}}</a>
              </div>
              <div class="list-group-item">
                    <label>CVV: </label>
                    <a href="#" editable-number="profile.payment.cvv"  e-required onaftersave="updateUser()">{{profile.payment.cvv||"empty"}}</a>
              </div>
            </div>
          </div>
        </div> <!-- End table-content -->
      </div> <!-- End tabable -->
    </div> <!-- End panel-body -->
  </div> <!-- End panel -->
</div>
