<form class="center-form css-form panel" name="form" ng-show="!formSubmitted">
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" ng-model="user.email" id="email" required="" name="email"/>
  </div>
  <div class="form-group">
    <label for="email">Password:</label>
    <input type="password" class="form-control" ng-model="user.password" id="password" name="password" required=""/>
  </div>
  <div class="form-group">
    <label for="email">Confirm Password:</label>
    <input type="password" class="form-control" ng-model="user.confirmpassword" id="confirmpassword" name="confirmpassword" required="" password-match="user.password"/>
    <div ng-show="form.confirmpassword.$error.passwordMatch" class="text-danger ng-error" ng-class="error">The confirmed password should match the passoword you set</div>
  </div>

  <button type="submit" class="btn btn-primary" ng-click="save(form,user)">Submit</button>

</form>
<div ng-show="formSubmitted">
  <h3 class="simpleMessageBoard">Thanks, you can sign in now</h3>
</div>
