<div class="container mainContent">
  <div class="col-md-2">
    <span ng-bind-html="textHint | autoNewlineFilter"></span>
  </div>
  <div class="col-md-8">
    <div class="form-group">
      <textarea id="hints" class="form-control" placeholder="Input the hint yourself to inspire" ng-model="textHint"></textarea>
    </div>
    <button class="btn btn-primary btn-lg">Record</button>
    <button class="btn btn-info btn-lg">Save</button>
    <button class="btn btn-warning btn-lg">Cancel</button>
  </div>
  <div class="col-md-2">
    <span ng-bind-html="textHint | autoNewlineFilter"></span>
  </div>
</div>
